@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#row-hana .row{
	margin-left: 0em !important;
	margin-right: 0em !important;
}

/*-- EMAIL OTP --*/
.OTPhead {
	position: absolute;
	margin-top: 1%;
	padding-left: 8%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #4F4F4F;
}

.OTPpic {
	position: absolute;
	margin-top: -1.5%;
	right: 10%;
	width: 195.2px;
    height: 77.67px;
}

.OTPgreet {
	/*position: absolute;*/
	/*width: 671px;*/
	/*height: 48px;*/
	padding-left: 73px;
	margin-top: 3px;
	font-family: Roboto;
	line-height: 48px;
}

.OTPwelcome {
	position: absolute;
	/*width: 319px;*/
	/*height: 38px;*/
	padding-left: 73px;
	margin-top: -26px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 38px;
	/*color: #FFFFFF;*/
}

.cwhite{
	color: white;
}

#OTPlogos {
	position: relative;
    padding-top: 8%;
}

.OTPdetail {
	position: absolute;
	/*width: 100%;*/
	/*height: 160px;*/
	left: 75px;
	top: 575px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	/*font-size: 24px;*/
	line-height: 32px;
	color: #828282;
}
.detail2OTP {
	padding-top: 2%;
}

.OTPcode {
	position: relative;
	/*width: 100%;*/
	/*left: 44.92%;*/
	/*right: 44.92%;*/
	top: 179px;
	/*bottom: 33.07%;*/
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	/*font-weight: 500;*/
	/*font-size: 24px;*/
	/*line-height: 29px;*/
}
.detail3OTP {
	font-weight: 500;
	line-height: 29px;
	color: #BDBDBD;
}

.detail4OTP {
	font-weight:bold;
	line-height: 38px;
	color: #333333;
	margin-top: -5px;
}

.OTPnotes {
	position: relative;
	/*width: 100%;*/
	/*height: 64px;*/
	/*left: 344px;*/
	top: 176px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
	color: #BDBDBD;
}
.detail5OTP {
	margin-top: -5px;
}

.boxfootOTP {
	height: 200px;
	background-color: #4F4F4F;
	width: 100%;
	margin-top: 18%;
}

.OTPfoot {
	position: absolute;
	/*width: 880px;*/
	/*height: 144px;*/
	left: 75px;
	margin-top: 3%;
	font-family: Roboto;
	font-size: 18px;
	line-height: 24px;
}
.detail7OTP {
	margin-top: 4%;
}
.detail8OTP {
	margin-top: -1%;
}

@media screen and (max-width: 600px){
	.OTPpic {
	    position: absolute;
	    margin-top: -1.5%;
	    right: 10%;
	    width: 40%;
	    height: auto;
	}

	.OTPhead {
	    margin-top: 2%;
	    font-size: 18px;
	}

	.OTPgreet {
	    padding-left: 0px;
	    margin-top: 3px;
	    text-align: center;
	 }

	 .OTPwelcome {
	 	padding-left: 102px;
	 }

	.OTPdetail {
	    position: absolute;
	    width: 93%;
	    left: 25px;
	    top: 375px;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 11px;
	    line-height: 32px;
	    color: #828282;
	    text-align: justify;
	}
	.detail1OTP {
		font-size: 18px;
	}
	.detail2OTP {
	    padding-top: 2%;
	    font-size: 15px;
	}

	.OTPcode {
	    position: relative;
	    top: 113px;
	    text-align: center;
	    font-family: Roboto;
	    font-style: normal;
	}
	.detail4OTP {
	    font-weight: bold;
	    line-height: 38px;
	    color: #333333;
	    margin-top: -12px;
	}
	.detail5OTP {
	    margin-top: -16px;
	}

	.OTPnotes {
	    position: relative;
	    top: 96px;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 12px;
	    line-height: 32px;
	    text-align: center;
	    color: #BDBDBD;
	}

	.boxfootOTP {
	    height: 219px;
	    background-color: #4F4F4F;
	    width: 100%;
	    margin-top: 28%;
	}

	.OTPfoot {
	    position: absolute;
	    margin-top: 3%;
	    font-family: Roboto;
	    font-size: 14px;
	    line-height: 24px;
	    text-align: center;
	    padding-right: 68px;
	}
} /*end media 600px*/


/*-- EMAIL NOTIF --*/
.EmailNotifhead {
	position: absolute;
	margin-top: 1%;
	padding-left: 8%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #4F4F4F;
}

.EmailNotifpic {
	position: absolute;
	margin-top: -1.5%;
	right: 10%;
	width: 195.2px;
    height: 77.67px;
}

.EmailNotifgreet {
	/*position: absolute;*/
	/*width: 671px;*/
	/*height: 48px;*/
	padding-left: 73px;
	margin-top: 3px;
	font-family: Roboto;
	line-height: 48px;
}

.EmailNotifwelcome {
	position: absolute;
	/*width: 319px;*/
	/*height: 38px;*/
	padding-left: 73px;
	margin-top: -26px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 38px;
	/*color: #FFFFFF;*/
}

.cwhite{
	color: white;
}

#EmailNotiflogos {
	position: relative;
	padding-top: 5%;
	width: auto;
	height: auto;
}

.EmailNotifdetail {
	position: absolute;
	width: auto;
	/*height: 160px;*/
	left: 75px;
	top: 575px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	/*font-size: 24px;*/
	line-height: 32px;
	color: #828282;
}
.detail2Notif {
	padding-top: 2%;
}
.detail3Notif {
	padding-top: 2%;
}

.EmailNotifform {
	padding-top: 20%;
	padding-left: 5%;
}

.detail4Notif {
	font-family: Roboto;
	font-size: 16px;
	line-height: 29px;
	color: #BDBDBD;
}
input[type=text] {
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 14px;
}
input:focus {
    outline:none;
}
..form-control[readonly]{
    background-color: none;
}

.boxfootNotif {
	height: 200px;
	background-color: #4F4F4F;
	width: 100%;
	margin-top: 3%;
}
.EmailNotiffoot {
	position: absolute;
	/*width: 880px;*/
	/*height: 144px;*/
	left: 75px;
	margin-top: 3%;
	font-family: Roboto;
	font-size: 18px;
	line-height: 24px;
}
.detail6Notif {
	margin-top: 4%;
}
.detail7Notif {
	margin-top: -1%;
}

@media screen and (max-width: 600px){
	.EmailNotifpic {
	    position: absolute;
	    margin-top: -1.5%;
	    right: 10%;
	    width: 40%;
	    height: auto;
	}

	.EmailNotifhead {
	    position: absolute;
	    margin-top: 2%;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 15px;
	    line-height: 33px;
	    color: #4F4F4F;
	}
	
	.EmailNotifgreet {
	    padding-left: 0px;
	    text-align: center;
	    margin-top: 3px;
	    font-family: Roboto;
	    line-height: 48px;
	}	

	.EmailNotifwelcome {
	    position: absolute;
	    padding-left: 102px;
	    margin-top: -26px;
	    font-family: Roboto;
	    font-size: 14px;
	    line-height: 38px;
	}

	.EmailNotifdetail {
	    position: absolute;
	    left: 0px;
	    top: 375px;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 32px;
	    color: #828282;
	    text-align: justify;
	}

	.detail1Notif {
		font-size: 18px;
	}

	.detail2Notif {
		padding-top: 2%;
    	font-size: 15px;
	}

	.detail2-2Notif {
		font-size: 15px;
	}

	.detail3Notif {
		font-size: 15px;
	}

	.detail3-3Notif {
		font-size: 15px;
	}

	.EmailNotifform {
	    padding-top: 54%;
	    padding-left: 0 !important;
	}

	.boxfootNotif {
	    height: 256px;
	    background-color: #4F4F4F;
	    width: 100%;
	    margin-top: 9%;
	}

	.EmailNotiffoot {
	    position: absolute;
	    margin-top: 3%;
	    font-family: Roboto;
	    font-size: 14px;
	    line-height: 24px;
	    text-align: center;
	   	padding-right: 68px;
	}

	.detail6Notif {
		margin-top: -2%;
	}

	.detail7Notif {
		margin-top: -4%;
	}
}


/*-- EMAIL VERIFY --*/
.EmailVerifyhead {
	position: absolute;
	margin-top: 1%;
	padding-left: 8%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #4F4F4F;
}

.EmailVerifypic {
	position: absolute;
	margin-top: -1.5%;
	right: 10%;
	width: 195.2px;
    height: 77.67px;
}

.EmailVerifygreet {
	/*position: absolute;*/
	/*width: 671px;*/
	/*height: 48px;*/
	padding-left: 73px;
	margin-top: 3px;
	font-family: Roboto;
	line-height: 48px;
}

.EmailVerifywelcome {
	position: absolute;
	/*width: 319px;*/
	/*height: 38px;*/
	padding-left: 73px;
	margin-top: -26px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 38px;
	/*color: #FFFFFF;*/
}

.cwhite{
	color: white;
}

#EmailVerifylogos {
	position: relative;
	padding-top: 5%;
	width: auto;
	height: auto;
}

.EmailVerifydetail {
	position: absolute;
	/*width: 100%;*/
	/*height: 160px;*/
	left: 75px;
	top: 575px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	/*font-size: 24px;*/
	line-height: 32px;
	color: #828282;
}
.detail2Verify {
	padding-top: 2%;
}

.EmailVerifycode {
	position: relative;
	/*width: 100%;*/
	/*left: 44.92%;*/
	/*right: 44.92%;*/
	top: 112px;
	/*bottom: 33.07%;*/
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	/*font-weight: 500;*/
	/*font-size: 24px;*/
	/*line-height: 29px;*/
}
.detail3Verify {
	font-weight: 500;
	line-height: 29px;
	color: #BDBDBD;
}

.detail4Verify {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	margin-top: -5px;
}

.EmailVerifynotes {
	position: relative;
	/*width: 100%;*/
	/*height: 64px;*/
	/*left: 89px;*/
	padding-left: 87px;
	top: 176px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #BDBDBD;
}
.detail5Verify {
	margin-top: -5px;
}

.boxfootVerify {
	height: 200px;
	background-color: #4F4F4F;
	width: 100%;
	margin-top: 15%;
}

.EmailVerifyfoot {
	position: absolute;
	/*width: 880px;*/
	/*height: 144px;*/
	left: 75px;
	margin-top: 3%;
	font-family: Roboto;
	font-size: 18px;
	line-height: 24px;
}
.detail7Verify {
	margin-top: 4%;
}
.detail8Verify {
	margin-top: -1%;
}

@media screen and (max-width: 600px){
	.EmailVerifypic {
	    position: absolute;
	    margin-top: -1.5%;
	    right: 10%;
	    width: 40%;
	    height: auto;
	}

	.EmailVerifyhead {
	    position: absolute;
	    margin-top: 2%;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 15px;
	    line-height: 33px;
	    color: #4F4F4F;
	}

	.EmailVerifygreet {
	    padding-left: 0px;
	    text-align: center;
	    margin-top: 3px;
	    font-family: Roboto;
	    line-height: 48px;
	}

	.EmailVerifywelcome {
	    position: absolute;
	    padding-left: 102px;
	    margin-top: -26px;
	    font-family: Roboto;
	    font-size: 14px;
	    line-height: 38px;
	}

	.EmailVerifydetail {
	    position: absolute;
	    left: 0px;
	    top: 435px;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 32px;
	    color: #828282;
	    text-align: justify;
	}

	.detail1Verify {
		font-size: 15px;
	}

	.detail2Verify {
	    padding-top: 2%;
	    font-size: 15px;
	}

	.EmailVerifycode {
    	position: relative;
	    top: 130px;
	    text-align: center;
	    font-family: Roboto;
	    font-style: normal;
	}

	.detail4Verify {
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 9px;
	    line-height: 19px;
	}

	.EmailVerifynotes {
	    position: relative;
	    top: 143px;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 15px;
	    line-height: 32px;
	    color: #BDBDBD;
	    text-align: center;
	    padding-left: 0px;
	}

	.detail5Verify {
    	margin-top: -17px;
	}

	.boxfootVerify {
	    height: 243px;
	    background-color: #4F4F4F;
	    width: 100%;
	    margin-top: 41%;
	}

	.EmailVerifyfoot {
	    position: absolute;
	    margin-top: 3%;
	    font-family: Roboto;
	    font-size: 14px;
	    line-height: 24px;
	    text-align: center;
	    padding-right: 68px;
	}



}

/*-- EMAIL TAX NOTIF --*/
.EmailTaxNotifhead {
	position: absolute;
	margin-top: 1%;
	padding-left: 8%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #4F4F4F;
}

.EmailTaxNotifpic {
	position: absolute;
	margin-top: -1.5%;
	right: 10%;
	width: 195.2px;
    height: 77.67px;
}

.EmailTaxNotifgreet {
	/*position: absolute;*/
	/*width: 671px;*/
	/*height: 48px;*/
	padding-left: 73px;
	margin-top: 3px;
	font-family: Roboto;
	line-height: 48px;
}

.EmailTaxNotifwelcome {
	position: absolute;
	/*width: 319px;*/
	/*height: 38px;*/
	padding-left: 73px;
	margin-top: -26px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 38px;
	/*color: #FFFFFF;*/
}

.cwhite{
	color: white;
}

#EmailTaxNotiflogos {
	position: relative;
	padding-top: 5%;
	width: auto;
	height: auto;
}

.EmailTaxNotifdetail {
	position: absolute;
	width: auto;
	/*height: 160px;*/
	left: 75px;
	top: 575px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	/*font-size: 24px;*/
	line-height: 32px;
	color: #828282;
}
.detail1Tax {
	padding-top: 2%;
}

.boxfootTax {
	height: 200px;
	background-color: #4F4F4F;
	width: 100%;
	margin-top: 10%;
}

.EmailTaxNotiffoot {
	position: absolute;
	/*width: 880px;*/
	/*height: 144px;*/
	left: 75px;
	margin-top: 3%;
	font-family: Roboto;
	font-size: 18px;
	line-height: 24px;
}
.detail2Tax {
	margin-top: 4%;
}
.detail3Tax {
	margin-top: -1%;
}

@media screen and (max-width: 600px){
	.EmailTaxNotifpic {
	    position: absolute;
	    margin-top: -1.5%;
	    right: 10%;
	    width: 40%;
	    height: auto;
	}

	.EmailTaxNotifhead {
	    position: absolute;
	    margin-top: 2%;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 18px;
	    line-height: 33px;
	    color: #4F4F4F;
	}

	.EmailTaxNotifgreet {
	    padding-left: 0px;
	    margin-top: 3px;
	    font-family: Roboto;
	    line-height: 48px;
	    text-align: center;
	}

	.EmailTaxNotifwelcome {
	    position: absolute;
	    padding-left: 140px;
	    margin-top: -26px;
	    font-family: Roboto;
	    font-size: 14px;
	    line-height: 38px;
	}

	.EmailTaxNotifdetail {
	    position: absolute;
	    left: 0px;
	    top: 412px;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 32px;
	    color: #828282;
	    text-align: justify;
	}

	.detail1Tax {
	    padding-top: 2%;
	    font-size: 15px;
	}

	.boxfootTax {
	    height: 221px;
	    background-color: #4F4F4F;
	    width: 100%;
	    margin-top: 23%;
	}

	.EmailTaxNotiffoot {
	    position: absolute;
	    left: 75px;
	    margin-top: 3%;
	    font-family: Roboto;
	    font-size: 14px;
	    line-height: 24px;
	    text-align: center;
	    padding-right: 68px;
	}
}	